# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

/docs/ @elastic/obs-docs
/docs/en/integrations/ @bmorelli25
/docs/en/ingest-management/ @dedemorton
