# GitHub CODEOWNERS definition
# Automatically add the obs-docs team as a reviewer to all documentaiton PRs
# For more info, see https://help.github.com/articles/about-codeowners/

/docs/ @elastic/obs-docs
