name: Issue labeler
on:
  issues:
    types: [ opened ]

permissions:
  contents: read

jobs:
  label-component:
    runs-on: ubuntu-latest

    permissions:
      issues: write
      actions: read
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/elastic-request.yaml

      - name: Set labels based on issue field
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          template: elastic-request.yaml